{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
  <h2 class="mb-4">Users List ({{ users|length }})</h2>
  {% if users %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No registered users found.</p>
  {% endif %}
{% endblock %}